.DS_Store
__pycache__
.ipynb_checkpoints

datasets/local/*
datasets/processed/embedding_cache/*
analysis/_scratch.ipynb

.texture_cache/
.vite/
dist/
analysis/
demo/

# directories
texture/frontend/
texture/runner_dev_temp.py
texturefrontend/src/.backendapi-manual/

docs/.vitepress/cache
docs/.vitepress/dist


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
