:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 5px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* mosaic default styles */

.plot,
.legend,
.legend svg {
  background: none !important;
  line-height: initial;
  user-select: none;
}

.plot-d6a7b5 {
  background: none !important;
}

label {
  margin-right: 0.5em;
}

.input {
  margin-right: 1em;
}

.input > * {
  vertical-align: middle;
}

select {
  -webkit-appearance: auto;
  appearance: auto;
}

button,
input,
optgroup,
select,
textarea {
  padding: revert;
  border: revert;
}

input[type="text"] {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding-left: 4px;
}

table {
  display: table;
  position: relative;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  font-variant-numeric: tabular-nums;
  box-sizing: border-box;
  max-width: initial;
  min-height: 33px;
  margin: 0;
  width: 100%;
  font-size: 13px;
  line-height: 15.6px;
}

thead tr th {
  position: sticky;
  top: 0;
  background: #fff;
  cursor: ns-resize;
  border-bottom: solid 1px #ccc;
}

.dark thead tr th {
  background: rgb(30, 30, 32);
  border-bottom: solid 1px #444;
}

tbody tr:hover {
  background: #eef;
}

.dark tbody tr:hover {
  background: #224;
}

th {
  color: #111;
  text-align: left;
  vertical-align: bottom;
}

td,
th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px 6.5px 3px 0;
}

.dark td,
.dark th {
  color: #ccc;
}

tbody tr:first-child td {
  padding-top: 4px;
}

td,
th {
  border: none;
}

td,
tr:not(:last-child) th {
  border-bottom: solid 1px #eee;
}

.dark td,
.dark tr:not(:last-child) th {
  border-bottom: solid 1px #333;
}

td {
  color: #444;
  vertical-align: top;
}

/* layouts */
.columnChartWrapper {
  padding-left: 15px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  border: 2px solid #e2e8f0;
  padding: 5px;
}

#sidebar {
  width: 30%;
  /* overflow-y: scroll; */
  flex: 1;
  overflow: scroll;
  box-sizing: border-box;
  height: 1200px;
}

#tableview {
  margin-left: 10px;
  width: 70%;
  flex: 2;
  box-sizing: border-box;
}

.selectWrapper {
  margin-bottom: 10px;
}
